@using ToDo.Models
@model System.Collections.Generic.List<Todo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current To Do items in List</h2>
<div class="table-responsive">
    <table class='table-hover'>

        <thead>
            <tr>
                <th>Item name</th>
                <th>Short Description</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var todo in Model)
        {
            <tr>
                <td>@todo.Name </td>
                <td>@todo.Description</td>
                <td></td>
            </tr>
        }
    </table>
    </div>