@using ToDo.Models
@model System.Collections.Generic.List<Todo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current To Do items in List</h2>
<ul>
@foreach (var todo in Model)
{
    <li>@todo.Name <text> - </text> @todo.Description</li>
}
</ul>