@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ClubManager To Do list</h1>
    <p class="lead">Keep track of simple to do items.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Simple test project</h2>
        <p>
            This is just a simple test project to test items and get up to speed with MVC 5
        </p>
        
    </div>
    <div class="col-md-6">
        <h2>Simple Dashboard</h2>
        <p>
            This is will be a simple dashboard
        </p>
        
    </div>
</div>